@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v48-latin-300.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v48-latin-600.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./fonts/roboto-v48-latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

/* Aplica Roboto por defecto */
body {
  font-family: 'Roboto', sans-serif;
}

    .logo{
        width:100%;
    } 
    .img{
        width:10%;
    }
    .header {
      margin-top:10px;
      
    }
    .containerHeader{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .box{
        width:50%;
        
    }
    .Short{
        width:40%
    }
    .Longer{
        width:55%;
    }
    .item{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 7px;
    }
    .title{
        width:30%;
        text-align: left;
    } 
    .data{
        width:65%;
        text-align: right;
    }
    h4{
        margin:0px;
        font-weight: 500;
        font-size: 9px;
    }
    h3{ 
        margin:0px;
        font-size: 9px;
        font-weight: bold;
    }

    .containerCotizacion{
        margin-top:50px
    }
    .area-section {
      margin-bottom: 40px;
    }

    .area-title {
      font-size: 12px;
      font-weight: bold;
      margin-bottom: 8px;
      color: #333;
    }

    .table {
      width: 100%;
      border-collapse: collapse;
      margin-bottom: 10px;
    }
    .table th {
      border-bottom: 0.1px solid #f8f0f0;
      padding: 8px 0px;
      font-size: 10px;
      padding-right: 5px;
    }
    .table td{
        padding:5px 0px;
        font-size: 10px;
    }
    .mini{
        width:15%;
        text-align: left;
    }
    .corta{
        width:20%;
    }
    .size{
        font-size: 10px;
    }
    .large{
        width:30%;
        padding-right:10px;
    }

    .middle{
        width:15%;
        text-align: right;

    }
    .area-total {
      text-align: right;
      font-weight: bold;
    }

    .grand-total {
      font-size: 14px;
      font-weight: bold;
      text-align: right;
      margin-top: 20px;
    }
      .Right{
      width:20%;
      text-align: right;
    }